/* Layout */
.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}

header,
footer,
section {
  margin-top: 40px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

section, p {
  text-align: center;
}

/* Typography */
html {
  font-family: 'Roboto', sans-serif;
  background-color: #212528;
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

p {
  font-size: 1.1em;
}

footer p {
  font-size: 0.9em;
}

.lead {
  font-size: 1.4em;
}

a {
  color: #FC0D1B;
}

a:hover {
  color: #DE0D1A;
}

/* Buttons */
.button {
  color: #fff;
  background-color: #FC0D1B;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.3em;

  padding: 0.8em;
}

.button:hover {
  color: inherit;
  background-color: #DE0D1A;
}
